.logo {
  margin-right: 5px;
  margin-left: 0px;
}

.container {
  width: 90%;
  margin: auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
  padding: auto;
}

#addButton {
  float: right;
  margin: 0 1vw 0 0;
  padding: 0;
  position: sticky;
  z-index: 1000; /* Ensure that your app's content doesn't overlap the button */
  bottom: 10vh;
}

//separator

.separator {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1rem;
}

.separator > span {
  position: relative;
  display: inline-block;
}

.separator > span:before,
.separator > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #3f51b5;
}

.separator > span:before {
  right: 100%;
  margin-right: 15px;
}

.separator > span:after {
  left: 100%;
  margin-left: 15px;
}

.add-pointer{
  cursor: pointer;
}

