form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-radio-group {
  margin-bottom: 1rem;
  mat-radio-button {
    margin-right: 0.5rem;
  }
  mat-label {
    display: block;
  }
}

mat-form-field {
  min-width: 250px;
}

:host.edit-form {
  @media (min-width: 576px) {
    mat-form-field {
      min-width: 500px;
    }
  }
}
