<mat-toolbar class="navbar" color="primary">
  <mat-icon [routerLink]="['/dashboard']" class="logo"
    >calendar_today
  </mat-icon>
  <span>Goal Tracker</span>
  <span class="spacer"></span>
  <mat-icon class="logout">logout</mat-icon>
</mat-toolbar>
<div class="container">
  <div class="card-container">
    <div *ngFor="let goal of goals">
      <app-goal-card [goal]="goal"></app-goal-card>
    </div>
  </div>
</div>
<button id = "addButton" mat-fab color="primary">
  <mat-icon>exposure_plus_1</mat-icon>
</button>

<mat-toolbar class="footer">
  <fa-icon [icon]="facebookIcon"></fa-icon>
  <fa-icon [icon]="linkedinnIcon"></fa-icon>
  <fa-icon [icon]="githubIcon"></fa-icon>
</mat-toolbar>
