.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  max-width: 500px;
  min-width: 250px;
  min-height: 320px;
  padding: 15px 30px 30px 30px;
  margin: 20px;
}

@media (max-width: 576px) {
  .card {
    max-width: 350px;
    min-width: 170;
  }
}

.day-count {
  font-size: 25px;
  color: #3e59b8;
  position: absolute;
}

.day-caption {
  font-size: 20px;
  color: #3e59b8;
  display: block;
}

.title-container {
  margin-bottom: 24px;
  font-size: 26px;
  white-space: nowrap;
}

#goalName{
  display: inline-block;
}

#likeIcon {
  color: #d70000;
  display: inline-block;
  margin: 0 0.05rem 0.1rem 0.25rem;
}

#removeButton {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  color: #d70000;
  display: inline-block;
}
