<mat-card class="card">
  <mat-card-title class = "title-container">
    <span id = "goalName">{{ goal.goalName }}</span>
    <fa-icon (click) = "removeGoal($event)" id="removeButton" [icon]="closeIcon"></fa-icon>
  </mat-card-title>

  <mat-card-content>
    <div class="spinner">
      <mat-progress-spinner mode="determinate" [value]="spinnerValue">
      </mat-progress-spinner>
      <span class="day-count">{{ daysLeft }}</span>
    </div>
    <span *ngIf = "!hideCaption" class="day-caption">days left</span>
  </mat-card-content>

  <mat-card-content>
    <p>{{ goal.startTime }} - {{ goal.endTime }}</p>
    <p>{{ goal.author}}</p>
  </mat-card-content>
  <mat-card-content>
    {{ goal.additionalInformation }}
  </mat-card-content>
  <mat-card-actions>
    <button (click) = "addLike($event)" mat-button>LIKE
      <fa-icon id = "likeIcon" [icon]="likeIcon"></fa-icon>
      {{likesNumber}}</button>
    <button (click) = "share($event)" mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
