<app-navbar></app-navbar>

<router-outlet></router-outlet>

<mat-toolbar class="footer">
  <a class = "navbar-icon" target="_blank" href="https://www.facebook.com/kamil.wiera.3/"><fa-icon [icon]="facebookIcon"></fa-icon></a>
  <a class = "navbar-icon" target="_blank" href="https://www.linkedin.com/in/kamil-wiera-03b2b3197/"><fa-icon [icon]="linkedinnIcon"></fa-icon></a>
  <a class = "navbar-icon" target="_blank" href="https://github.com/butterGit"><fa-icon [icon]="githubIcon"></fa-icon></a>
</mat-toolbar>
